<!DOCTYPE html>
<html>
    <head>
        {{title}}
        <link rel="stylesheet," href= '/css/bootstrap.min.css')>
        <link rel="stylesheet," href= "/css/styles.css")>
    </head>
    <body>
        <div class="container.listing-reg">
            <h1>
                <a class="i2" href="#">
                    <img class="i2" src="/css/gpic.png"    
                    onmouseover = "this.src ='/css/gpic_1.png'"
                    onmouseout = "this.src='/css/gpic.png'")>
                </a>
            </h1>
            {% block main %}{% endblock %}
        </div>
    </body>
</html>


